@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script type="text/javascript">
     var urlobj;
     function BrowseServer(obj)
     {
          urlobj = obj;
          OpenServerBrowser(
          '/index.html',
          screen.width * 0.7,
          screen.height * 0.7 ) ;
     }

     function OpenServerBrowser( url, width, height )
     {
          var iLeft = (screen.width - width) / 2 ;
          var iTop = (screen.height - height) / 2 ;
          var sOptions = "toolbar=no,status=no,resizable=yes,dependent=yes" ;
          sOptions += ",width=" + width ;
          sOptions += ",height=" + height ;
          sOptions += ",left=" + iLeft ;
          sOptions += ",top=" + iTop ;
          var oWindow = window.open( url, "BrowseWindow", sOptions ) ;
     }

     function SetUrl( url, width, height, alt )
     {
          document.getElementById(urlobj).value = url ;
          oWindow = null;
     }
</script>

<div class='page-title'>
    <h1>File Manager</h1>
</div>

<button type="button" onclick="BrowseServer('id_of_the_target_input');">Pick Image</button>
<input type="text" id="id_of_the_target_input" />

