@using Vereyon.Web;
@{
    Layout = "~/Views/Shared/_EnrollLayout.cshtml";
}

<script>
function goBack() {
    window.history.back()
}
</script>


@Html.RenderFlashMessages()

<div class="row">
    <div class="col-md-9">
        <div class="col-md-12">
            <input type="button" value="Go Back & Try Again" class="btn btn-warning" onclick="goBack()" />
        </div>
    </div>
    @{
        Html.RenderAction("RegistrationRightPanel", "Enroll");
    }
</div>
